body{
	background: url("../img/fondo.jpg");
	background-attachment: fixed;
	background-repeat: round;
	
}

#logo{
	background: black;
}

#menu ul li:hover{
	background: red;
}

.button-more{
	background: black;
}